extends layout
block scripts
  script(src='/dist/js/pages/sites.js')
block content
  section.content-header
  section.content
    .error-page
      h2.headline.text-yellow  404
      .error-content
        br
        h3
          i.fa.fa-warning.text-yellow
          |  Oops! Page not found.
        p
          | The page you were looking for does not exist, sorry.
          br
          | What about going back to the 
          a(href='/index.html') start page
          |  or reading a book?