extends layout
block scripts
  script(src='/dist/js/pages/sites.js')
block content
  section.content-header
  section.content
    .error-page
      h2.headline.text-red 500
      .error-content
        br
        h3
          i.fa.fa-warning.text-red
          |  Oops! Something went wrong.
        p
          | I can't has cheezburger. Try to remember what happened
          | and call someone for help. Then 
          a(href='../../index.html') go back to start
          |  ... do not pass go...