extends layout
block scripts
  script(src='/dist/js/pages/data.js')
block content
  section.content-header
    h1
      | Data
      small see the results
  section.content
    .row
      .col-md-12
        .box.box-data.filterData
          .box-header.with-border
            h3.box-title Filter
              small  existing pages and data
          .box-body
            .form-group
              .row
                .col-md-4
                  .form-group
                    label Type
                    select#pageType.form-control.select2.select2-hidden-accessible(multiple='', data-placeholder='Select page types to show', style='width: 100%;', tabindex='1', aria-hidden='true')
                .col-md-4
                  .form-group
                    label Tag
                    select#pageTag.form-control.select2.select2-hidden-accessible(multiple='', data-placeholder='Assigned tags by the first page', style='width: 100%;', tabindex='2', aria-hidden='true')
                .col-md-4
                  .form-group
                    label Status
                    select#pageStatus.form-control.select2.select2-hidden-accessible(multiple='', data-placeholder='State of pages', style='width: 100%;', tabindex='3', aria-hidden='true')
                .col-md-12
                  .form-group
                    label Url
                    input#pageUrl.form-control(placeholder='Specific URL', style='width: 100%;', tabindex='4', aria-hidden='true')

              br
              .row
                .col-md-offset-4.col-md-4
                  button#btnPreview.btn.btn-block.btn-flat.bg-purple.btn-lg(type='button')
                    span.fa.fa-search
                    |  Preview

    .row#btns
      .col-md-3.col-sm-6.col-xs-12
        .info-box#btnDownload
          span.info-box-icon.bg-aqua
            i.fa.fa-download
          .info-box-content
            span.info-box-text Download
            h5.text-muted Define dynamic fields and export all data as a CSV file for further processing
      .col-md-3.col-sm-6.col-xs-12
      .col-md-3.col-sm-6.col-xs-12
        a#btnReset(href='#', data-href='/api/page/reset/', data-toggle='modal', data-target='#confirm', data-text='Do you really want to reset all matching pages?')
          .info-box
            span.info-box-icon.bg-yellow
              i.fa.fa-repeat
            .info-box-content
              span.info-box-text Reset
              h5.text-muted Put back all entries to afresh page data by matching site receipts
      .col-md-3.col-sm-6.col-xs-12
        a#btnDelete(href='#', data-href='/api/page/delete/', data-toggle='modal', data-target='#confirm', data-text='Do you really want to delete all matching pages?')
          .info-box
            span.info-box-icon.bg-red
              i.fa.fa-trash-o
            .info-box-content
              span.info-box-text Delete
              h5.text-muted Removed all pages as well as related data object  irrevocable from database


    .row#preview(style='display: none;')
      .col-md-12
        .box.box-default.filterData
          .box-header.with-border
            h3.box-title JSON Preview
              small  # entries
          .box-body
            .form-group
              .row
                .col-xs-12
                  pre
