extends layout
block scripts
  script(src='/dist/js/pages/index.js')
block content
  section.content-header
    h1
      | Cockpit
      small Gotta scrape 'em all!
  section.content
    .row
      #boxSites.col-xs-12.col-sm-6.col-lg-3
        a(href='sites.html')
          .small-box.bg-aqua
            .inner
              h3 Sites
              p Define the functions
            .icon
              i.fa.fa-code
            .small-box-footer
              | Create and edit site receipts&nbsp;
              i.fa.fa-arrow-circle-right
      #boxPages.col-xs-12.col-sm-6.col-lg-3
        a(href='pages.html')
          .small-box.bg-green
            .inner
              h3 Pages
              p Handle the queue
            .icon
              i.fa.fa-sitemap
            .small-box-footer
              | Add new pages to operate on&nbsp;
              i.fa.fa-arrow-circle-right
      #boxScrape.col-xs-12.col-sm-6.col-lg-3
        a(href='scrape.html')
          .small-box.bg-yellow
            .inner
              h3 Scrape
              p Start the process
            .icon
              i.fa.fa-chrome
            .small-box-footer
              | Emulate a full browser environment&nbsp;
              i.fa.fa-arrow-circle-right
      #boxData.col-xs-12.col-sm-6.col-lg-3
        a(href='data.html')
          .small-box.bg-purple
            .inner
              h3 Data
              p See the results
            .icon
              i.fa.fa-database
            .small-box-footer
              | View, export and share the data&nbsp;
              i.fa.fa-arrow-circle-right
