doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Scrawler | Admin
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    link(rel='stylesheet', href='/dist/css/AdminLTE.min.css')
    link(rel='stylesheet', href='/dist/css/skins/skin-red.min.css')
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    script(src='/socket.io/socket.io.js')
  body.layout-top-nav.skin-red
    #confirm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title Are you sure?!
          .modal-body
            p Description
          .modal-footer
            button.btn.btn-default.pull-left(type='button', data-dismiss='modal') Cancel
            a.btn.btn-primary.btn-ok Confirm
    .wrapper
      include ./snippets/header.jade
      .content-wrapper(style='min-height: 483px;')
        .container
          block content
      block footer
      include ./snippets/footer.jade
        script(src='/plugins/jQuery/jQuery-2.1.4.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src='/dist/js/app.min.js')
        link(rel='stylesheet', href='/plugins/select2/select2.min.css')
        script(src='/plugins/select2/select2.min.js')
        script.
          $('#confirm').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
            $(this).find('.modal-body p').html($(e.relatedTarget).data('text'));
          });
        block scripts

