extends layout
block scripts
  script(src='/dist/js/pages/pages.js')
block content
  section.content-header
    h1
      | Pages
      small handle the queue
  section.content
    .row
      .col-md-12
        .box.box-success#addPage
          .box-header.with-border
            h3.box-title Add
              small  new URL to the queue
          .box-body
            .form-group
              .row
                .col-md-6
                  label(for='pageUrl') URL
                  input#pageUrl.form-control(type='text', placeholder='http://www.otto.de')
                  p.help-block Where the journey begins...
                .col-md-3
                  label(for='pageType') Type
                  select#pageType.form-control.select2.select2-hidden-accessible(data-placeholder='Select a type', style='width: 100%;', tabindex='-1', aria-hidden='true')
                  p.help-block Identifying name for the page class
                .col-md-3
                  label(for='pageTag') Tag
                  input#pageTag.form-control(type='text', placeholder='carpet')
                  p.help-block Inheritable identifier

              br
              .row
                .col-md-12
                  .box.box-default.collapsed-box#boxMult
                    .box-header.with-border(data-widget='collapse')
                      i.fa.fa-plus.btn-box-tool
                      h3.box-title Add multiple pages
                        small  in addition to the settings above
                    .box-body
                      textarea#multPages.form-control(rows='13', placeholder='https://www.otto.de/damenmode/\nhttps://www.otto.de/sport/\nhttps://www.otto.de/waesche-bademode/\n')
                      p.help-block One URL per line

            .box-footer
              .row
                .col-md-offset-4.col-md-4
                  button#btnAdd.btn.btn-block.btn-flat.bg-green.btn-lg(type='button')
                    span.fa.fa-sitemap
                    |  Add
