extends layout
block scripts
  script(src='/dist/js/pages/scrape.js')
block content
  section.content-header
    h1
      | Scrape
      small start the process
  section.content
    .row
      .col-md-12
        .box.box-warning.addSite
          .box-header.with-border
            h3.box-title Browser
              small  to emulate and do the job
          .box-body
            .form-group
              .row
                .col-md-2
                  label(for='scrapeUrl') URL
                  input#scrapeUrl.form-control(type='text', placeholder='www.')
                .col-md-3
                  .form-group
                    label(for='scrapeType') Type
                    select#scrapeType.form-control.select2.select2-hidden-accessible(data-placeholder='Select a type', style='width: 100%;', tabindex='-1', aria-hidden='true')

                .col-md-3
                  .form-group
                    label(for='scrapeTag') Tag
                    select#scrapeTag.form-control.select2.select2-hidden-accessible(data-placeholder='Select a tag', style='width: 100%;')
                .col-md-1.col-xs-6
                  label(for='scrapeDepth') Depth
                  .input-group
                    input#scrapeDepth.form-control(type='text', value='#{depth}')
                .col-md-3.col-xs-6
                  label(for='scrapeIdleMin') Idle times
                    small  (in ms)
                  .input-group
                    span.input-group-addon Min
                    input#scrapeIdleMin.form-control(type='text', value='#{idleMin}', style='width: 50%;')
                    input#scrapeIdleMax.form-control(type='text', value='#{idleMax}', style='width: 50%;')
                    span.input-group-addon Max
              br

              .row
                .col-md-12
                  .box.box-default.collapsed-box#boxBoss
                    .box-header.with-border(data-widget='collapse')
                      i.fa.fa-plus.btn-box-tool
                      h3.box-title Boss settings
                        small  for further configurations
                    .box-body
                      .form-group
                        .row
                          .col-xs-12.col-lg-5
                            label(for='scrapeApi') API
                            input#scrapeApi.form-control(type='text', value='#{api}')
                          .col-xs-6.col-sm-3.col-lg-2
                            label(for='scrapeVerbose') Log Level
                            .input-group
                              span.input-group-addon
                                input#scrapeVerbose(type='checkbox', checked=(verbose ? "checked" : undefined))
                              select#scrapeLogLevel.form-control(type='text')
                                for item in logLevels
                                  option(selected=logLevel == item) #{item}

                          .col-xs-3.col-sm-2.col-lg-1
                            label(for='scrapePlugins') Plugins
                            .input-group
                              .checkbox
                              label
                                input#scrapePlugins(type='checkbox', checked=(loadPlugins ? "checked" : undefined))
                                |  enable
                              .checkbox
                          .col-xs-3.col-sm-2.col-lg-1
                            label(for='scrapeImages') Images
                            .input-group
                              .checkbox
                              label
                                input#scrapeImages(type='checkbox', checked=(        loadImages ? "checked" : undefined))
                                |  load
                          .col-xs-12.col-sm-5.col-lg-3
                            label(for='scrapeWidth') Resolution
                            .input-group
                              span.input-group-addon Width
                              input#scrapeWidth.form-control(type='text', value='#{vpWidth}', style='width: 50%;')
                              input#scrapeHeight.form-control(type='text', value='#{vpHeight}', style='width: 50%;')
                              span.input-group-addon Height
                        .row
                          .col-md-12
                            label(for='scrapeUserAgent') User Agent
                            input#scrapeUserAgent.form-control(type='text', value='#{userAgent}')

              .row
                .col-md-offset-4.col-md-4
                  button#scrapeStart.btn.btn-block.btn-flat.btn-warning.btn-lg(type='button')
                    span.fa.fa-chrome
                    |  Start


    #scraper

    #template(style='display: none;')
      #console
        .row
          .col-md-12
            .box.box-default.filterData
              .box-header.with-border
                h3.box-title Console
                  small  filter settings
                .box-tools.pull-right
                  span.badge.bg-green.complete(data-toggle='tooltip', title='', data-original-title='Number of completed pages') 0
                  span.badge.bg-yellow.timeout(data-toggle='tooltip', title='', data-original-title='Number of warnings') 0
                  span.badge.bg-red.error(data-toggle='tooltip', title='', data-original-title='Number of errors') 0
                  button.btn.btn-box-tool(data-widget='collapse')
                    i.fa.fa-minus
                  button.scrapeStop.btn.btn-box-tool(data-toggle='tooltip', title='Stop the process')
                    i.fa.fa-times
              .box-body
                .form-group
                  .row
                    .col-xs-12
                      pre.output
