extends layout
block scripts
  script(src='/dist/js/pages/sites.js')
block content
  section.content-header
    h1 Sites
      small define the functions
  section.content
    .row
      .col-md-12
        .box.box-sites.addSite
          .box-header.with-border
            h3.box-title Receipt
              small  to apply on matching pages
          .box-body
            .form-group
              .row
                .col-md-6
                  label(for='siteDomain') Domain
                  input#siteDomain.form-control(type='text', placeholder='www.otto.de', value='#{domain}')
                  p.help-block Defines the scope of the receipt. Both domain and type are identifying
                .col-md-3
                  label(for='siteType') Type
                  input#siteType.form-control(type='text', placeholder='product', value='#{type}')
                  p.help-block Identifying name for the type of page
                .col-md-3
                  label(for='siteTimeout') Timeout
                  .input-group
                    input#siteTimeout.form-control(type='text', value='#{timeout}')
                    span.input-group-addon Seconds
                  p.help-block Maximum time to operate on page

            .form-group
              label(for='siteFunction') Function
              .input-group-btn
                textarea#siteFunction.form-control(rows='6', placeholder="Scraper.add('title', jq214('h1'));\nScraper.add('price', jq214('#price').text());\n\nScraper.finish();")
                  | #{func}

              p.help-block Full featured JavaScript code to be executed on page.
              br
              .row
                .col-md-12
                  .box.box-default.collapsed-box#boxHelp
                    .box-header.with-border(data-widget='collapse')
                      i.fa.fa-plus.btn-box-tool
                      h3.box-title Documentation
                        small  of the Scraper functions
                    .box-body
                      include ./snippets/receipt_help.jade


            .box-footer
              .row
                .col-md-offset-4.col-md-4
                  button#saveSite.btn.btn-block.btn-flat.bg-aqua.btn-lg(type='button')
                    span.fa.fa-code
                    |  Submit

                if (id)
                  .col-md-offset-2.col-md-2
                    a#deleteSite(href='#', data-href='#', data-toggle='modal', data-target='#confirm', data-id='#{id}', data-text='Do you really want to delete this receipt?')
                      button.btn.btn-danger.btn-flat.btn-lg.pull-right(type='submit')
                        span.fa.fa-trash
                        |  Delete

    .row
      .col-md-12
        .box.box-default.existingSites
          .box-header.with-border
            i.fa.fa-hand-spock-o
            h3.box-title Existing
              small  receipts to edit or delete
          .box-body
            .form-group
              .row
                .col-md-12#allSites
                  ul
                  each site in sites
                    a.btn.btn-app.bg-aqua(href='/sites/#{site._id}.html')
                      i.fa.fa-code
                      p
                        strong #{site.type}
                        br
                        | #{site.domain}


