header.main-header
  nav.navbar.navbar-static-top
    .container
      .navbar-header
        a.navbar-brand(href='/index.html')
          b Scraw
          | ler
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse')
          i.fa.fa-bars
      // Collect the nav links, forms, and other content for toggling
      #navbar-collapse.collapse.navbar-collapse.pull-left
        ul.nav.navbar-nav
          li
            a(href='/index.html') Start
          li
            a(href='/sites.html') Sites
          li
            a(href='/pages.html') Pages
          li
            a(href='/scrape.html') Scrape
          li
            a(href='/data.html') Data
