p.help-block
  | Use the&nbsp;
  strong Scraper-Object
  |  to interact or extract data from a page. The following methods are available:
  br
  code Scraper.add(name, value);
  |  to save a specific value. A value can be a variable or jQuery output.
  br
  code Scraper.links(links, type);
  |  to add new pages and crawl trough a websites.
  br
  code Scraper.finish();
  |  to complete the scraping process. This method is required.
  br
  code Scraper.sum();
  |  to calculate the sum of an array of values.
  br
  code Scraper.avg();
  |  to calculate the average value of an array of values.
  br
  code Scraper.screenshot();
  |  to take a screenshot of the current page. They will be stored in the&nbsp;
  i /screenshots/live/
  |  folder.
  br
  code Scraper.err(error, elem);
  |  to finish a scraping process with an error code. Use&nbsp;
  i error
  |  as an identifying code and&nbsp;
  i elem
  |  to a an store a value to debug.
  br
  code Scraper.step(condition, action, selector, next);
  |  to call a function&nbsp;
  i next
  |  as long as&nbsp;
  i condition
  |  is true do an&nbsp;
  i action
  |  (click or select) on&nbsp;
  i selector
  | .
  br
  | Use&nbsp;
  code jq214();
  |  to get full access to the &nbsp;
  a(href='http://api.jquery.com/', target="_blank") jQuery
  |  library for easy selecting, manipulation, event handling or animation controll.